/*------------------------------------------------------------
breadcrumb
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.breadcrumb{
	font-size: 0;
	letter-spacing: -1em;
	li{
		display: inline-block;
		letter-spacing: normal;
		a{
			text-decoration: none;
			color: #FCB316;
			font-size: 1.2rem;
		}
		span{
			color: #000;
			font-size: 1.2rem;
		}
	}
}