/*------------------------------------------------------------
footer
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.footer{
	/*padding-bottom: 200px;*/
}
.c-footer1{
	/*margin-top: 1000px;*/
	background: url(/assets/image/common/bg-03.png) top no-repeat;
	background-size:  cover;
	padding: 175px 0 75px;
	&__title{
		display: flex;
		justify-content: space-between;
		a{
			font-size: 1.3rem;
			color: #fff;
			text-decoration: none;
		}
		button{
			font-size: 1.3rem;
			color: #fff;
			border: 0;
			background: none;
			cursor: pointer;
		}
	}
	&__content{
		margin-top: 65px;
		display: flex;
		justify-content: flex-end;
		>li{
			/*width: 25%;*/
			/*background: pink;*/
			margin-right: 84px;
			&:last-child{
				margin-right: 0;
			}
			&:nth-child(3){
				.text{
					padding-top: 105px;
					line-height: 3;
				}
			}
		}
	}
	.title1{
		margin-top: 30px;
		width: 166px;
		a{
			text-decoration: none;
			color: #fff;
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 5px solid transparent;
			border-image: url(/assets/image/common/line-01.png) 30;
			border-image-slice: 7 0 14 5;
			line-height: 1.2;
			font-size: 1rem;
		}
		&__text1{
			font-size: 2rem;
			/*font-weight: bold;*/
		}
		&:first-child{
			margin-top: 0;
		}
	}
	.text{
		font-size: 1.4rem;
		color: #fff;
		line-height: 2;
		padding-top: 15px;
	}
	.network{
		width: 233px;
		li{
			&:last-child{
				a{
					border-bottom: 5px solid transparent;
				}
			}
		}
		a{
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-top: 5px solid transparent;
			border-image: url(/assets/image/common/line-01.png) 30;
			border-image-slice: 7 0 14 5;
			padding: 15px 20px 15px 10px;
			text-decoration: none;
		}
		span{
			font-size: 1.2rem;
			color: #fff;
		}
	}
}
/*------------------------------------------------*/
.c-footer2{
	display: flex;
	padding: 15px 0;
	&__logo{
		padding: 20px 90px;
		border-left: 1px solid #00AAAD;
		p{
			font-size: 1.3rem;
			span{
				color: #00AAAD;
			}
		}
		a{
			text-decoration: none;
			color: #000;
			font-size: 4.7rem;
			font-family: 'Futura Medium';
			font-weight: normal;
			padding: 5px 0 22px;
		}
		span{
			color: #00AAAD;
		}
	}
	&__info{
		padding: 20px 58px 20px 85px;
		display: flex;
		border-left: 1px solid #00AAAD;
		border-right: 1px solid #00AAAD;
	}
	&__text{
		p{
			font-size: 1.3rem;
		}
	}
	&__img{
		padding-left: 90px;
		padding-top: 5px;
	}
}
/*--------------------------------------------------*/
.c-footer3{
	background: url(/assets/image/common/img-01.png) center no-repeat;
	background-size:  cover;
	text-align: right;
	padding: 205px 0 15px;
	small{
		font-size: 1.5rem;
		color: #fff;
		margin-right: 50px;
	}
}
.js-effect1 {
	position: relative;
	&:before {
		transition-delay: .5s;
		transform: scale(0, 1);
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 100;
		background: #fff;
		transition: transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
		transform: scale(1, 1);
		transform-origin: right top;
	}
	&.is-show1 {
		&:before {
			transform: scale(0, 1);
		}
	}
}