/*------------------------------------------------------------
header
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.header{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 9;
	.active{
		a{
			color: #00AAAD !important;
		}
	}
}
.c-header1{
	width: 1000px;
	margin: 0 auto;
	position: relative;
	.c-header2{
		width: 218px;
		background: url(/assets/image/common/bg-01.png) top no-repeat;
		background-size:  cover;
		background-position: top;
		padding: 55px 0 30px;
		margin-left: 10px;
		position: relative;
	}
	.logo{
		text-align: center;
		p{
			font-size: 1.3rem;
			span{
				color: #00AAAD;
			}
		}
		h1{
			font-size: 4.8rem;
			font-family: 'Futura Medium';
			font-weight: normal;
			padding: 5px 0 22px;
			a{
				text-decoration: none;
				color: #000;
			}
			span{
				color: #00AAAD;
			}
		}
	}
	.text{
		font-size: 1.4rem;
		color: #000;
		text-align: center;
	}
	.nav{
		padding: 40px 32px 30px;
		li{
			font-size: 1.3rem;
			writing-mode: vertical-lr;
			display: inline-block;
			vertical-align: top;
			&:first-child{
				writing-mode: horizontal-tb;
				line-height: 1;
			}
		}
		a{
			text-decoration: none;
			color: #000;
		}
	}
	.info{
		text-align: center;
		padding: 0 35px;
		img{
			margin-bottom: 78px;
		}
		p{
			text-align: left;
			padding-top: 12px;
			font-size: 1.2rem;
		}
	}
	.home{
		background: url(/assets/image/common/bg-02.png) top no-repeat;
		background-size:  cover;
		width: 60px;
		text-align: center;
		padding: 20px 0 8px;
		position: absolute;
		top: 0;
		right: -35px;
		text-decoration: none;
		p{
			font-size: 1.3rem;
			color: #fff;
		}
	}
	.btn-contact{
		width: 106px;
		/*height: 106px;*/
		background: #00AAAD;
		text-align: center;
		padding: 15px 0;
		border-radius: 50%;
		position: absolute;
		top: 35px;
		right: -114px;
		text-decoration: none;
		display: block;
		img{
			padding: 5px 0 10px;
		}
		p{
			font-size: 1.3rem;
			color: #fff;
			span{
				font-size: 1.2rem;
			}
		}
	}
}