/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.l-wapper{
	width: 1000px;
	margin: 0 auto;
}

