/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-title1{
	text-align: center;
	h2{
		font-size: 4.3rem;
		color: #000;
		font-weight: normal;
	}
}
/*
------------------------------------------------------------*/
.c-title2{
	h3{
		font-size: 3rem;
		color: #000;
		font-weight: normal;
	}
}
/*
------------------------------------------------------------*/
.c-title3{
	display: flex;
	align-items: center;
	h3{
		font-size: 4.5rem;
		line-height: 4.5rem;
		font-weight: normal;
		span{
			color: #AB535F;
		}
	}
	p{
		font-size: 1.8rem;
		color: #AB535F;
		padding-top: 20px;
		margin-left: 10px;
	}
	&--color1{
		h3{
			span{
				color: #00AAAD;
			}
		}
		P{
			color: #00AAAD;
		}
	}
}
/*
------------------------------------------------------------*/
.c-title4{
	display: flex;
	align-items: center;
	border-bottom: 10px solid transparent;
	border-image: url(/assets/image/common/line-02.png) 30;
	border-image-slice: 7 0 14 0;
	width: 290px;
	padding-bottom: 8px;
	h3{
		font-size: 2.4rem;
		color: #AB535F;
		span{
			color: #000;
		}
	}
	p{
		font-size: 1.4rem;
		color: #AB535F;
		margin-left: 10px;
	}
}
/*-------------------------------------------------*/
.c-title5{
	display: flex;
	align-items: center;
	h3{
		font-size: 3.6rem;
		color: #00AAAD;
	}
	p{
		font-size: 2.1rem;
		color: #000;
		margin-left: 25px;
	}
}
/*-------------------------------------------------*/
.c-title6{
	display: flex;
	align-items: center;
	p{
		font-size: 3rem;
		margin-left: 26px;
		padding-top: 13px;
	}
}