/*------------------------------------------------------------
text
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-text1{
	font-size: 1.4rem;
	color: #000;
}
/*-----------------------------------------*/
.c-text2{
	font-size: 1.4rem;
	color: #AB535F;
	font-weight: bold;
}
