/*------------------------------------------------------------
list
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-list1{
	li{
		font-size: 1.4rem;
		line-height: 2.6rem;
		p{
			line-height: 1.8rem;
		}
	}
}
/*
------------------------------------------------------------*/
.c-list2{
	li{
		display: flex;
		align-items: center;
		justify-content: flex-start;
		.c-list1{
			margin-top: 10px;
			padding-left: 8px;
			&:last-child{
				border-top: 10px solid transparent;
				border-image: url(/assets/image/common/line-03.png) 30;
				border-image-slice: 7 0 14 0;
				padding-top: 13px;
				margin-top: 5px;
			}
		}
	}
	&__img{
		padding-right: 15px;
	}
}
/*
------------------------------------------------------------*/
.c-list3{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	li{
		width: 222px;
		margin-right: 25px;
		&:nth-child(2n+3){
			margin-right: 0;
		}
	}
	&__text{
		text-align: center;
		margin-top: 20px;
		h4{
			font-size: 3.6rem;
			color: #000;
			line-height: 3.6rem;
			padding-bottom: 20px;
		}
		p{
			font-size: 1.8rem;
			color: #000;
		}
	}
}
/*
------------------------------------------------------------*/
.c-list4{
	width: 715px;
	position: relative;
	.c-title6{
		position: absolute;
		top: 0;
		right: 22px;
	}
	&__content{
		display: flex;
		padding-top: 35px;
	}
	&__text{
		width: 375px;
		margin-top: 75px;
		margin-left: 15px;
		p{
			font-size: 1.4rem;
			color: #000;
			line-height: 2.6rem;
		}
		span{
			letter-spacing: 8px;
		}
	}
}