/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-mainvisual{
	width: 100%;
	padding: 0 104px 0 78px;
	&__slider{
		width: 100%;
		img{
			width: 100%;
			height: auto;
		}
	}
	.slick-dots{
		top: -20px;
		margin-left: 175px;
		li button:before{
			font-size: 25px;
			color: #FCB316;
			opacity: 1;
		}
		li.slick-active{
			button:before{
				color: #00AAAD;
			}
		}
	}
}
